@import url('https://fonts.googleapis.com/css2?family=Heebo');



.div-general{
    border-color: #99a8b2;
    border-style: solid;
    border-width: 2px;
    font-family: "Heebo";

}

h2{padding-left: 2%;}

.main-logo{
    height: 10%;
    width: 10%;
    display: inline;
    vertical-align: middle;
}

.main-title{
    color:#1c2b2d;
    font-family: "Heebo";
    display: inline;
    vertical-align:middle;
    margin-left: 150px;
}
/*Imagenes*/
.img2{
    margin-left: 70px;
    height: 50%;
    width: 40%;
}

.img3{
    margin-left: 70px;
    height: 22%;
    width: 22%;
}

.img5{
    margin-left: 50px;
    height: 30%;
    width: 30%;
 }
 
 .img6{
     margin-left: 50px;
     height: 30%;
     width: 30%;
 }

 .img8{
    margin-left: 70px;
    height: 70%;
    width: 50%;
}